.mp-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mp-style p {
  display: flex;
  padding: 5px;
  font-size: 2rem;
  background-color: rgba(58, 5, 5, 0.500);
  min-width: 660px;
  justify-content: center;
}

.mp-style-rec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
