.drp-dn-menu {
  position: absolute;
  z-index: 95;
}

.btn-stl {
  font-size: medium;
  width: 20rem;
  height: auto;
  cursor: pointer;
  margin: .1rem;
}

.sel-col {
  width: 150px;
  height: 30px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}
