.home-style {
  display: flex;
  text-align: center;
  color: antiquewhite;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-style-bg {
  background-color: rgba(58, 5, 5, 0.9);
  border-radius: 50px;
  padding: 15px;
}

.home-style h3 {
  margin: 5px;
}

.cost-chart {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

.cost-chart div {
  margin: 5px;
  width: 44vw;
  background-color: white;
  border-radius: 5px;
}

.vehicles {
  margin: 10px;
}
