.fup-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(58, 5, 5, 0.900);
    max-width: 660px;
    margin: 10px;
    border-radius: 10px;
}

.fup-style p {
    display: flex;
    padding: 5px;
    font-size: 2rem;
    justify-content: center;
}

.fup-style-rec {
    display: flex;
    flex-direction: column;
    align-items: center;
}